<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878788466-u52pl9euafns9pfh5oqn8b7f30peiref.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878788466-u52pl9euafns9pfh5oqn8b7f30peiref</string>
	<key>API_KEY</key>
	<string>AIzaSyCSZ1VTWt465R5VKADZl5YGiA7gjScnGA0</string>
	<key>GCM_SENDER_ID</key>
	<string>878788466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.razvantoma.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e8cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e8cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878788466:ios:e9c2361e82a6a46b4067eb</string>
</dict>
</plist>